.main-hero {
  width: 100%;
  height: 75vh;
  background-image: url("../images/landing-hero.jpg");
  background-size: cover;
  background-position: center;
}

.landing-header {
  text-align: center;
}

.main-hero div {
  width: fit-content;
}

.main-hero h1 {
  color: black;
  padding-top: 15vh;
  font-size: 7vh;
  font-weight: 630;
  width: 100%;
}

.main-hero h2 {
  font-size: 3vh;
  color: black;
  margin-bottom: 5vh;
}

.landing-btn {
  background-color: #383838;
  font-size: 4.5vh;
  border: black;
}

.landing-btn:hover {
  background-color: white;
  color: #383838;
}

@media screen and (max-width: 992px) {
  .main-hero h1 {
    font-size: 4.5vmax;
  }
  .main-hero h2 {
    font-size: 2.5vmax;
  }
  .landing-btn {
    font-size: 3.5vmax;
  }
}