* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #383838;
  color: white;
  max-width: 100vw;
}

/* Navbar format settings */
.navbar {
  justify-content: space-between;
  align-items: baseline;
}

.navbar-toggler {
  width: min-content;
}

.nav {
  text-align: end;
  justify-content: flex-end;
}

.nav-item {
  list-style: none;
}

.nav-list {
  display: flex;
}

.nav-link {
  color: white;
  font-size: x-large;
}

.nav-link:hover{
  color: gray;
}

/* Main body section */
.content {
  display: flex;
}

.title {
  display: flex;
  padding-left: 3vw;
}

#movieTitle {
  font-size: 7vh;
  padding-right: 3vw;
}

#favorites {
  background: none;
  border: none;
}

#favorites:focus {
  outline: none;
}

.fa-heart {
  color: white;
}

/* Main section (Movie the user is currently viewing) */
.selected-movie {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid white;
}

#trailers {
  width: 99%;
  margin-left: .5%;
  height: 40vw;
}

.movie-info {
  flex-basis: 30%;
  display: flex;
}

.description {
  flex-basis: 70%;
  padding: 2%;
}

.movie-details {
  flex-basis: 30%;
  border-left: 2px solid white;
  padding: 2%;
  flex-direction: column;
}

#movie_rating {
  border-bottom: 2px solid white;
  text-align: center;
}

.cast-list {
  flex-direction: column;
  text-align: center;
}

.cast-list h2 {
  border-bottom: 2px solid white;
  width: 100%;
}

#movie_cast {
  list-style: none;
  line-height: 2;
}

/* Aside section (Similar movie suggestions) */
.similar-movies {
  flex-basis: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.similar-posters img {
  width: 50%;
  padding: 2%;
}

.similar-posters img:hover {
  padding: 0;
}

/* Responsive layout settings */
@media screen and (max-width: 992px) {
  .content {
    flex-direction: column;
  }
  .movie-info {
    flex-direction: column;
  }
  #trailers {
    width: 98vw;
    height: 60vw;
  }
  .title {
    justify-content: space-between;
    padding: 0 4%;
  }
  .selected-movie {
    border: none;
  }
  .movie-details {
    border: none;
  }
  .navbar {
    padding-top: 2vh;
  }
  .nav-list {
    flex-direction: column;
  }
}