* {
  margin: 0;
  padding: 0;
}

.search {
  display: block;
  float: right;

}

body {
  background-color: lightgray;
}

nav{
  position: fixed;
  
}
#searchBtn {
  border-color: blue;
  color: azure;
}
#searchBtn:hover {
  background-color: blue;
}

.display-3 {
  color: white;
}

.lead {
  color: white;

}

#pop {
  background-image: url(../images/pop.gif);
  background-size: cover;
}

