* {
  margin: 0;
  padding: 0;
}

.search {
  display: block;
  float: right;

}

body {
  background-color: lightgray;
}


#searchBtn {
  border-color: blue;
  color: azure;
}

.jumbotron {
  display: flex;
  height: auto;
  background-image: url(../images/popcorn.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  background-size: cover;
}

.display-3 {
  color: white;
}

.lead {
  color: white;

}