body {
  background-color: white;
  max-height: 100vh;
}

nav {
  position: fixed; 
}
#searchBtn {
  border-color: black;
  color: white;
  background-color: lightskyblue;
}

.display-3 {
  color: white;
}

.lead {
  color: white;
}

#pop {
  /* background-image: url(../images/header-img-2.jpg); */
  background-color: #34568b;
  background-size: cover;
  color: white;
  width: 100%;
  height: 100%;  
}

h2 {
  text-align: center;
  color: black;
}

/* .slide1 {
  background-color: #d8e2dc
}

.slide2 {
  background-color: #577399
} */

div.container {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 gap: 10px;
}